<div class="l-device js-device panel panel-default">
    <div class="panel-heading">{{ name }}</div>
    <div class="panel-body">
        <button class="js-on-button btn btn-primary">On</button>
        <button class="js-off-button btn btn-primary">Off</button>
    </div>
</div>
