<div class="l-device l-grid-panel js-device panel panel-default">
    <div class="panel-heading">{{ name }}</div>
    <div class="panel-body">
        <button class="js-off-button btn btn-primary">Off</button>
        <button class="js-on-button btn btn-primary">On</button>
        {{#dimmable}}
        <div class="slider l-slider"></div>
        {{/dimmable}}
    </div>
</div>
