<div class="l-scene l-grid-panel js-scene panel panel-default">
    <div class="panel-heading">{{ name }}</div>
    <div class="panel-body">
        <button class="js-activate-button btn btn-primary">Activate</button>
    </div>
</div>

