<div class="upnp-device js-device">
    {{ name }}
    <button class="js-on-button" data-device-id="{{ id }}">On</button>
    <button class="js-off-button" data-device-id="{{ id }}">Off</button>
</div>